#grid {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.cells {
  display: grid;
  width: fit-content;
  > div {
    width: 20px;
    height: 20px;
    border: 1px solid black;
  }
}

