.section-header {
  display: flex;
  align-items: center;
  justify-content: center;
  
  > * {
    margin-right: 10px;
  }
}


// Colors
.White {
  background-color: #ffffff;
}
.Black {
  background-color: #000000;
}
.Red {
  background-color: #ff0000;
}
.Orange {
  background-color: #ff6600;
}
.Yellow {
  background-color: #ffff00;
}
.Green {
  background-color: #00ff00;
}
.Blue {
  background-color: #0000ff;
}
.Purple {
  background-color: #6600ff;
}
.Brown {
  background-color: #664422;
}
.Rainbow, [title="transparent"] {
  background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
  linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
  linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%) !important;
  
  // The color picker adds in child with checkboard pattern for transparent that we don't want
  > div {
    display: none;
  }
}

#grid-rules-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
