// Make GithubPicker float over other elements
.github-picker {
  position: absolute !important;
}

.color-picker {
  button.selected-color {
    border: 1px solid black;
    width: 20px;
    height: 20px;
  }
}

// "Any" Color
[title="transparent"] {
  background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
            linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
            linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%) !important;

  // The color picker adds in child with checkboard pattern for transparent that we don't want
  > div {
    display: none;
  }
}
