.conditions {
  display: flex;
  flex-flow: column;
  align-items: center;

  > * {
    margin: 0.5rem;
    padding: 0.5rem;
  }

  button {
    height: min-content;
  }

  .condition {
    display: flex;
    align-items: center;
    border: 1px solid black;

    > * {
      margin: 0 0.25rem;
    }
  }
}
