#rules {
  max-width: 800px;
  .add-buttons {
    display: flex;
    justify-content:space-evenly;
  }
}

.rule {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem;
  padding: 0.5rem;
  border: 1px solid black;

  .movement-buttons {
    display: flex;
    flex-direction: column;
  }
}

.textual-rule {
  padding: 0 1rem;
  display: flex;
  align-items: center;

  > * {
    margin: 0 0.25rem;
  }
}

.visual-rule {
  padding: 0 1rem;
  display: flex;
  align-items: center;

  > * {
    margin: 0 0.25rem;
  }
}

.color-grid {
  display: grid;
  gap: 2px;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
}